.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  position: relative;
   margin: 30px;
   text-align: center;
 }
 
 h1:before,
 h1:after {
   position: absolute;
   z-index: 0;
   bottom: -10px;
   display: block;
   content: '';
   border: 1em solid #d90606;
 }
 
 h1:before {
   left: -30px;
   border-left-width: 15px;
   border-left-color: transparent;
 }
 
 h1:after {
   right: -30px;
   border-right-width: 15px;
   border-right-color: transparent;
 }
 
 h1 span {
   position: relative;
   z-index: 1;
   display: block;
   padding: 1rem 2rem;
   color: #fff;
   background: #fa4141;
 }
 
 h1 span:before,
 h1 span:after {
   position: absolute;
   bottom: -10px;
   display: block;
   width: 10px;
   height: 10px;
   content: '';
   border-style: solid;
   border-color: #b70505 transparent transparent transparent;
 }
 
 h1 span:before {
   left: 0;
   border-width: 10px 0 0 10px;
 }
 
 h1 span:after {
   right: 0;
   border-width: 10px 10px 0 0;
 }